<app-banner src="assets/imagens/Banner-homepage-test.png" alt="Banner principal"></app-banner>
<app-container>

    <div>
        <app-form-busca></app-form-busca>
    </div>

    <h2>Promocoes</h2>
    <div class="card-wrapper">
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
    </div>
    <h2>Depoimentos</h2>
    <div class="card-wrapper">
        <app-card-depoiment></app-card-depoiment>
        <app-card-depoiment></app-card-depoiment>
        <app-card-depoiment></app-card-depoiment>
    </div>
</app-container>