<footer>
    <figure>
        <img src="assets/imagens/banner-homepage-rodape.png" alt="Homem sentado em uma pedra admirando a paisagem">
    </figure>
    <div class="container-footer">
        <div class="footer-infos">
            <img src="assets/imagens/logo-com-tagline.png" alt="Logo do jornada milhas">
            <div class="infos">
                <span>Horário de atendimento: 08h - 20h (Segunda a Sábado)</span>
                <span>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</span>
            </div>
        </div>
        <div class="footer-social">
            <span>Acesse nossas redes:</span>
            <div class="social-icons">
                <img src="assets/icones/whatsapp.png" alt="Logo do whatsapp">
                <img src="assets/icones/instagram.png" alt="Logo do instagram">
                <img src="assets/icones/twitter.png" alt="Logo do twitter">
            </div>
        </div>
    </div>
</footer>
